* {
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    width: auto;
    height: 150px;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 28, 29);
    border: 1px solid black;
}
.Container{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* top: 0;
    left: 0; */
    z-index: -2;
   
}   
.leftbar{
    width: 15%;
    height: 100vh;
    /* background-color: blue; */
    z-index: 100;
}

.rightbar{
    width: 90%;
    height: 100vh;
    background-color: rgb(58, 58, 107);
    z-index: 100;
}
.loginform{
    position: absolute;
    padding: 30px;
    width: 350px;
    height: 500px   ;
    border: 1px solid rgb(240, 234, 234);
    margin: 10%;
    margin-left: 55%;
    background-color:FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(175, 68, 130, 0.411);
    z-index: 60000;
}
.leftbar-icon{
    width: 100%;
    height: 100%;
    object-fit:contain;
    z-index: 5; 
    background-color: blueviolet;
}
.hd1{
    width: 150px;
    margin-left: 90px;
      
}
.hd2{
    display: flex;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
       
}
.tglogo{
    width: 150px;
    height: 150px;
}

label{
    font-size: large;
    color: bisque;
    
}
input[type=radio]{
    width: 20px;
    height: 20px;
}
input[type=text]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
}
input[type=password]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow: 3px rgb(68, 64, 41) ;
}
.line{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: rgb(136, 136, 141);
} 
.line1{
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: rgb(191, 191, 209);
}
button{
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(206, 212, 210);
    color: rgb(24, 22, 26);
    font-size: small;
    margin-left: 60%;
    
}
button:hover{
    transition-duration: 0.2s;
  
}
input[type="text"],input[type="password"]{
    font-size: 15px;
}
