.body{
    margin: 0;
    padding: 0;
}
.header{
    width: auto;
    height: 50px;
    background-color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(26, 28, 29);
    text-shadow: 0px 0px  8px rgb(199, 199, 13) ;  
}
.leftsection{
    float: left;
    width: 60%; 
    height: 90vh;
      
   
}
.rightsection{
    float: right;
    width: 40%;
    height: 90vh;
    background-color: rgb(14, 88, 103);
    
    
    
}
.loginform{
    position: absolute;
    padding: 30px;
    width: 400px;
    height: 500px   ;
    border: 1px solid black;
    margin: 100px; 
    background-color: rgb(10, 75, 97);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgb(61, 228, 15);
}
label{
    font-size: large;
    color: bisque;
    font-size: x-large;
}
input[type=radio]{
    width: 20px;
    height: 20px;
}
input[type=text]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
}
input[type=password]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow: 3px rgb(68, 64, 41) ;
    

}

.line{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: blue;
} 
button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(137, 144, 141);
    color: rgb(64, 18, 138);
    font-size: larger;

}
button:hover{
    transition-duration: 0.2s;
    
}
input[type="text"],input[type="password"]{
    font-size: 18px;
}

.Loginpagesideimage-icon{
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
    border: 1px solid black;
}
.LoginpageBackground_icon{
   width: 100%;
   height: 800px;  
}
/* Media Query for 360px x 740px screens */
@media screen and (max-width: 360px) and (max-height: 740px) {
    .body {
        margin: 0;
        padding: 0;
    }

    .header {
        height: 45px;
        font-size: 16px;
    }

    .leftsection {
        width: 100%;
        height: auto;
        float: none;
    }

    .rightsection {
        width: 100%;
        height: auto;
        float: none;
    }

    .loginform {
        position: relative;
        width: 90%;
        max-width: 330px;
        height: auto;
        padding: 20px;
        margin: 15px auto;
        border-radius: 8px;
    }

    label {
        font-size: 14px;
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        max-width: 260px;
        height: 32px;
        margin: 8px auto;
        font-size: 14px;
        box-sizing: border-box;
    }

    input[type=radio] {
        width: 16px;
        height: 16px;
    }

    button {
        width: 85px;
        height: 32px;
        font-size: 12px;
        margin-top: 10px;
    }

    .line {
        margin-top: 25px;
        margin-bottom: 15px;
        height: 1px;
    }

    .Loginpagesideimage-icon {
        position: relative;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
        display: block;
    }

    .LoginpageBackground_icon {
        width: 100%;
        height: auto;
        max-height: 250px;
    }
}