* {
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    width: auto;
    height: 150px;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 28, 29);
    border: 1px solid black;
}
.Container{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* top: 0;
    left: 0; */
    z-index: -2;
   
}   
.leftbar{
    width: 20%;
    height: 100vh;
    background-color: blue;
    z-index: 100;
}

.rightbar{
    width: 80%;
    height: 100vh;
    background-color: rgb(58, 58, 107);
    z-index: 100;
}
.loginform{
    position: absolute;
    padding: 30px;
    width: 350px;
    height: 500px   ;
    border: 1px solid black;
    margin: 10%;
    margin-left: 55%;
    background-color: rgb(77, 79, 80);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(175, 68, 130, 0.411);
    z-index: 60000;
}
.leftbar-icon{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    /* z-index: 5;  */
}
.hd1{
    width: 150px;
    margin-left: 90px;
      
}
.hd2{
    display: flex;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
       
}
.tglogo{
    width: 150px;
    height: 150px;
}





label{
    font-size: large;
    color: bisque;
    
}
input[type=radio]{
    width: 20px;
    height: 20px;
}
input[type=text]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
}
input[type=password]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow: 3px rgb(68, 64, 41) ;
}
.line{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: blue;
} 
button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(137, 144, 141);
    color: rgb(64, 18, 138);
    font-size: small;
}
button:hover{
    transition-duration: 0.2s;
  
}
input[type="text"],input[type="password"]{
    font-size: 15px;
}
