.body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: auto;
    height: 900px;
    display: flex;
}

.slidelist {
    float: left;
    width: 4%;
    height: 900px;
       
}

.logoicon {
    margin-top: 40px;
    padding: -2px;
    width: auto;
    height: 40px;
    margin-bottom: 0px;
    border: 1px solid rgb(249, 247, 247);
}

.navilist {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    text-align: center;
    
   /*justify-content: space-around;*/
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 0px; */
}

.mapviewer {
    margin: 0px;
    padding: 0px;
    width: 95%;
    height: 650px;
    
}

 #mapid {
    width: 100%;
    height: 850px;
    border: 1px solid black;
    cursor: pointer;

} 
 
.mapicons {
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgb(234, 230, 230);
    color: rgb(178, 188, 185);
}

.settingsicon {
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
    border-radius: 40px;
}

.rightbar {
    width: 40px;
    height: 650px;
    
    
}

.drawingcontrolers {
    padding: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.logoicon2 {
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(21, 138, 216);
}
.sliderbar {
    display: block;
    width: 200px;
    height: 600px;
    background-color: rgb(232, 245, 245);
    border: 1px solid rgb(53, 13, 13);
   
    
}
.lablebox{
    margin: 10px;
    width: 180px;
    height: 300px;
    border: 1px solid black;
    color: rgb(17, 50, 78);
    font-family:"1rem Fira Sans", sans-serif;
    border-radius: 5px;
}
.checkboxbtn{
    margin-top: 30px;
    margin-left: 20px;
    
}

/* .sliderbar .btn{
    position:relative;
    margin-top: 10px;
    color: black;
    
} */

