.body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: auto;
    height: 900px;
    display: flex;
}

.slidelist {
    float: left;
    width: 4%;
    height: 900px;
    
    
}

.logoicon {
    margin-top: 40px;
    padding: -2px;
    width: auto;
    height: 40px;
    margin-bottom: 0px;
    border: 1px solid rgb(249, 247, 247);
}

.navilist {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    text-align: center;
    
   /*justify-content: space-around;*/
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 0px; */
}

.mapviewer {
    margin: 0px;
    padding: 0px;
    width: 95%;
    height: 650px;
    
}

 #mapid {
    width: 100%;
    height: 650px;
    border: 1px solid black;
    cursor: pointer;

} 
 
.mapicons {
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgb(234, 230, 230);
    color: rgb(178, 188, 185);
}

.settingsicon {
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
    border-radius: 40px;
}

.rightbar {
    width: 40px;
    height: 650px;
    
    
}

.drawingcontrolers {
    padding: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.logoicon2 {
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(21, 138, 216);
}
.sliderbar {
    display: none;
    width: 500;
    height: 900px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    
}

.sliderbar .btn{
    position:relative;
    margin-top: 10px;
    color: black;
    
}

