{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <link rel="stylesheet" href="{% static 'css/LoginPage.css' %}">
        
         
        <title>LoginPage</title>
    </head>
    <body>
        <div class="header">
            <div class="hd1">
                <img src="{% static 'img/Telanganalogo.png' %}" alt="" class="tglogo">

            </div>
            <div class="hd2">
                <h1 style="font-family: 'Trebuchet MS', sans-serif;"> Director of Town & County Planning Telanga </h1>
          </div>
            
        </div>

        <div class="Container">

            <div class="leftbar">

                <img src="{% static 'img/tg-logo-min.png' %}" alt="" class="leftbar-icon">


            </div>

            <div class="rightbar">

                <!-- <img src="{% static 'img/BAckgorund_img.png' %}" alt="" class="LoginpageBackground_icon"> -->
               <form action="">
                    <div class="loginform">
                        <img src="" alt="">
                                          
                        <div class="inputs">
                            <h1>Login</h1><br><br>
                            <div class="line1"></div><br>
                            <label for="name">User Name / Email</label>
                            <input type="text" id="unameInput"  name="uname" required><br>
                            <label for="name">Password</label><br>
                            <input type="password" id="unamepwd" placeholder="" name="uname" required><br>

                        </div>
                        <br>

                        <div class="line"></div><br>

                        <button type="button" id="homeButton">Next</button>

                        <div class="text"></div>

                    </div>    

                </form>

            </div>
       
            
        </div>
                    
    </div>
    <script src="{% static 'js/Logincheck.js' %}"></script>
    </body>
</html>